<header class="header custom-site-header">
    <nav class="nav custom-nav-container">
        <div class="logo">
            <a href="{{ "" | absURL }}" accesskey="h" title="홈으로 이동">
                <img src="/images/logo.png" alt="셀다" class="site-logo-img" />
            </a>
        </div>
        <ul class="custom-header-menu">
            {{- range site.Menus.main }}
            <li>
                <a href="{{ .URL | absURL }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
