<aside class="blog-right-sidebar">
  <nav class="sidebar-top-nav">
    {{- range site.Menus.main }}
    <a href="{{ .URL | absURL }}" class="sidebar-nav-link">{{ .Name }}</a>
    {{- end }}
  </nav>

  <div class="sidebar-widget first-widget">
    <h4 class="widget-title align-line-title">분류 전체보기</h4>
    <ul class="category-list">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li>
        <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">
          {{ $name }} <span class="count">({{ len $taxonomy }})</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="sidebar-widget">
    <h4 class="widget-title">최근글</h4>
    <ul class="recent-post-list">
      {{ range first 5 (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
      {{- $tImg := "" }}
      {{- if .Params.cover.image }}
        {{- $tImg = .Params.cover.image }}
      {{- else if .Params.image }}
        {{- $tImg = .Params.image }}
      {{- end }}
      <li class="recent-item">
        <div class="recent-text">
          <a href="{{ .Permalink }}" class="recent-title">{{ .Title }}</a>
          <span class="post-date">{{ .Date.Format "2006.01.02" }}</span>
        </div>
        {{ if $tImg }}
        <a href="{{ .Permalink }}" class="recent-thumb">
          <img src="{{ $tImg | absURL }}" alt="{{ .Title }}" loading="lazy" />
        </a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</aside>
